**/*.jpg

**/*.xlsx

!figures_results/easy_model/accuracy_easy_model_nb_classes_10_0_trained_first.jpg
!figures_results/easy_model/loss_easy_model_nb_classes_10_0_first_train.jpg
!figures_results/easy_model/loss_easy_model_nb_classes_10_0_trained_first.jpg
!figures_results/easy_model/mean_error_easy_model_nb_classes_10_0_first_train.jpg